# Conductor whistle
{
    "num": 1,
    "name": "Function 2",
    "volume": 128,
    "function": "C_KEY2",
    "file": "F2.slot"
}
# Whistle 1
{
    "num": 2,
    "name": "Function 3",
    "volume": 128,
    "function": "C_KEY3",
    "file": "F3.slot"
}
# Coal shoveling
{
    "num": 3,
    "name": "Function 5",
    "volume": 128,
    "function": "C_KEY5",
    "file": "F5.slot"
}
# Bell
{
    "num": 4,
    "name": "Function 7",
    "volume": 128,
    "function": "C_KEY7",
    "file": "F7.slot"
}
# Whistle 2
{
    "num": 5,
    "name": "Function 9",
    "volume": 128,
    "function": "C_KEY9",
    "file": "F9.slot"
}
# Injector
{
    "num": 6,
    "name": "Function 11",
    "volume": 32,
    "function": "C_KEY11",
    "file": "F11.slot"
}
# Air pump
{
    "num": 7,
    "name": "Function 12",
    "volume": 128,
    "function": "C_KEY12",
    "file": "F12.slot"
}
# Generator
{
    "num": 8,
    "name": "Function 0",
    "volume": 128,
    "function": "C_KEY0",
    "file": "F0.slot"
}
# Air pump
{
    "num": 9,
    "name": "Random 0",
    "volume": 11,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 0.slot"
}
# Coal shoveling
{
    "num": 10,
    "name": "Random 1",
    "volume": 64,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 1.slot"
}
# Injector
{
    "num": 11,
    "name": "Random 2",
    "volume": 32,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 2.slot"
}
# Steam chuffs
{
    "num": 12,
    "name": "Chuffs",
    "volume": 128,
    "function": "C_KEY8",
    "file": "steam.slot"
}
# Boiler hiss
{
    "num": 13,
    "name": "Idle sound",
    "volume": 11,
    "function": "C_KEY8",
    "file": "idle.slot"
}
# Brake squeal
{
    "num": 14,
    "name": "Brake squeal",
    "volume": 22,
    "function": "F_BRAKING",
    "file": "brake.slot"
}
# Blow-off
{
    "num": 15,
    "name": "Blow-off sound",
    "volume": 64,
    "function": "C_KEY29",
    "file": "blowoff.slot"
}
