# Whistle 1
{
    "num": 1,
    "name": "Function 3",
    "volume": 128,
    "function": "C_KEY3",
    "file": "F3.slot"
}
# Bell
{
    "num": 2,
    "name": "Function 7",
    "volume": 128,
    "function": "C_KEY7",
    "file": "F7.slot"
}
# Whistle 2
{
    "num": 3,
    "name": "Function 9",
    "volume": 128,
    "function": "C_KEY9",
    "file": "F9.slot"
}
# Injector
{
    "num": 4,
    "name": "Function 10",
    "volume": 128,
    "function": "C_KEY10",
    "file": "F10.slot"
}
# Fan
{
    "num": 5,
    "name": "Function 11",
    "volume": 90,
    "function": "C_KEY11",
    "file": "F11.slot"
}
# Water
{
    "num": 6,
    "name": "Function 12",
    "volume": 128,
    "function": "C_KEY12",
    "file": "F12.slot"
}
# Coupling
{
    "num": 7,
    "name": "Function 13",
    "volume": 128,
    "function": "C_KEY13",
    "file": "F13.slot"
}
# Air pump
{
    "num": 8,
    "name": "Function 14",
    "volume": 32,
    "function": "C_KEY14",
    "file": "F14.slot"
}
# Ventilation
{
    "num": 10,
    "name": "Function 16",
    "volume": 128,
    "function": "C_KEY16",
    "file": "F16.slot"
}
# Air pump
{
    "num": 11,
    "name": "Random 0",
    "volume": 64,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 0.slot"
}
# Ventilation
{
    "num": 12,
    "name": "Random 1",
    "volume": 90,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 1.slot"
}
# Injector
{
    "num": 13,
    "name": "Random 2",
    "volume": 32,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 2.slot"
}
# Safety valve
{
    "num": 14,
    "name": "Random 3",
    "volume": 90,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 3.slot"
}
# Fan
{
    "num": 15,
    "name": "Random 4",
    "volume": 64,
    "function": "F_RANDOM",
    "enable": "F_RANDOM",
    "file": "random 4.slot"
}
# Steam chuffs
{
    "num": 16,
    "name": "Chuffs",
    "volume": 128,
    "function": "C_KEY8",
    "file": "steam.slot"
}
# Boiler hiss
{
    "num": 17,
    "name": "Idle sound",
    "volume": 22,
    "function": "C_KEY8",
    "file": "idle.slot"
}
# Brake squeal
{
    "num": 18,
    "name": "Brake squeal",
    "volume": 64,
    "function": "F_BRAKING",
    "file": "brake.slot"
}
# Blow-off
{
    "num": 19,
    "name": "Blow-off sound",
    "volume": 90,
    "function": "C_KEY29",
    "file": "blowoff.slot"
}
# Coupling
{
    "num": 20,
    "name": "Start sound sound",
    "volume": 128,
    "function": "C_EXECUTING",
    "file": "start sound.slot"
}
# Lights
{
    "num": 21,
    "name": "Lights",
    "volume": 128,
    "function": "C_KEY0",
    "file": "F0.slot"
}
